.fc-event-container .fc-event,.fc-event-container .fc-event-dot {
    background-color: #39374e !important;
    color: #BABDBF!important;
    border-color:  #39374e !important;
}

.nav-link-gdc-selected {
    font-weight: bold !important;
}

div.font-montserrat{
    font-family:"Montserrat",sans-serif
}
div.font-roboto{
    font-family:"Robot",sans-serif
}
div.font-opensans{
    font-family:"Open Sans",sans-serif;
    font-size:14px
}
/* div.rtl{ */
div.rtl{
    direction: rtl !important;   
    text-align: right;
}
.sticky-top {
    width: calc(100% - 280px);
    position: fixed;
}
.marginTop{
    margin-top: 7.2%!important;
}

.text-warning{
    color: #ff6618!important;
}

.text-danger{
    color: #ff0000!important;
}

.text-success {
    color: #187f189e!important;
}

.badge-success {
    background-color: #187f189e!important;
    color: white;
}

.disabled-card {
    opacity: .4 !important;
}

.btn-hrmaneja-success{
    background-color: #74b16f!important;
    color: white;
    border-color: #74b16f!important;
}

.btn-hrmaneja{
    background-color: #38e0ca !important;
    color: white;
    border-color: #38e0ca!important;
}

.btn-hrmaneja:hover{
    background-color: #38e0ca !important;
    color: white;
    border-color: #38e0ca!important;
}

.btn-hrmaneja-success:hover {
    color: #fff !important;
    background-color: #377c71 !important;
    border-color: #fff !important;
    
  }

  .badge-grey{
    background-color: #BABDBF!important;
    color: white;
    width: 70px;
    padding: 5px;
  }

  .badge-success{
    width: 70px !important;
    padding: 5px !important;
  }

  .badge-danger{
    width: 70px !important;
    padding: 5px !important;
  }